<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ error_type }}</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    >
</head>

<body>

<div class="dashboard">

    <div class="dashboard-card">

        <div class="card-title">
            ❌ {{ error_type }}
        </div>

        <p>
            {{ error_message }}
        </p>

        <br>

        <a
            href="/"
            class="new-prediction-btn"
        >
            ← Go Back
        </a>

    </div>

</div>

</body>
</html>